{
  "printWidth": 80,
  "trailingComma": "all",
  "semi": true,
  "singleQuote": true,
  "endOfLine": "lf",
  "arrowParens": "always",
  "singleAttributePerLine": true,
  "tabWidth": 2,
  "bracketSpacing": true,
  "bracketSameLine": false
}
